#red {
    background-color: red;
}
#green {
    background-color: #3CB04C;
}
#blue {
    background-color: #3944bc;
}
#white {
    background-color: white;
    color: black; /* Ensure white button's text is always visible */
}

.button {
    color: azure;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#red:hover, #green:hover, #blue:hover, #white:hover {
    background-color: #808080;
    font-size: 18px;
}

.button-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 50px; 
}
